$color-text: #546066;
$color-heading: #3e3f3f;
$color-primary: #31baaa;

$breakpoint-tablet: 48rem;
$breakpoint-desktop: 64rem;
$breakpoint-largedesktop: 80rem;

$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Raleway', sans-serif;


